<!--DİL SEÇENEKLERİ-->
<div class="grikutu"></div>

<h4>LANGUAGES</h4>
<ul class="language-options">
  <li><a class="lang_tr" href="/">TÜRKÇE</a></li>
  <li><a class="lang_ku" href="/ku">KURDİ</a></li>
  <li><a class="lang_en  selected-language" href="/en">ENGLISH</a></li>
 
</ul>

