<ul>
    <li>
        <div class="zamantag">
            <img src="/assets/img/tags/en/time.png" height="24px" /><!-- <img src="/assets/img/zamanbuton.png"/> -->
        </div>
    </li>
    <li>
        <div class="karsilasmalartag">
            <img src="/assets/img/tags/en/encounters.png" height="24px" />
        </div>
    </li>
    <li>
        <div class="ekonomitag">
            <img src="/assets/img/tags/en/economies.png" height="24px" />
        </div>
    </li>
    <li>
        <div onclick="location.href='/en/tag/siyaset'"class="siyasettag">
            <img src="/assets/img/tags/en/politics.png" height="24px" />
        </div>
    </li>
    <li>
        <div class="egitimtag">
            <img src="/assets/img/tags/en/education.png" height="24px" />
        </div>
    </li>
    <li>
        <div class="mekanlartag">
            <img src="/assets/img/tags/en/places.png" height="24px" />
        </div>
    </li>
    <li>
        <div class="iliskilertag">
            <img src="/assets/img/tags/en/relations.png" height="24px" />
        </div>
    </li>
    <li>
        <div class="oznelliktag">
            <img src="/assets/img/tags/en/subjectivities.png" height="24px" />
        </div>
    </li>
</ul>