<!--DİL SEÇENEKLERİ-->
<div class="grikutu"></div>

<h4>DİL SEÇENEKLERİ</h4>
<ul class="language-options">
  <li><a class="lang_tr  selected-language" href="/">TÜRKÇE</a></li>
  <li><a class="lang_ku" href="/ku">KURDİ</a></li>
  <li><a class="lang_en" href="/en">ENGLISH</a></li>
 
</ul>

