<p style="font-size:large;">Sergi Açılışı</p>
<p style="font-size:large;color:#6699CC;">30.11.12</p>
<p style="font-size:large;padding-bottom:9px;">Sergi Açılışı
<p style="font-size:large;padding-bottom:9px;"> Hamursuz Fırını <a class="bluelink" style="padding-bottom:5px;" href="http://goo.gl/maps/9z4VV" target="_blank">Harita</a> </p>
<p>Adres: Hamursuz Fırını, Şair Ziya Paşa Yokuşu
    <br>No:13&nbsp;&nbsp;&nbsp;Kuledibi&nbsp;/&nbsp;İstanbul<br/>
</p>

