<ul>
<li>
    <h3>Bejik</h3>
</li>
<li>
    <h3>Yevmiye</h3>
</li>
<li>
    <h3>Şêrizdîn</h3>
</li>
<li>
    <h3>Mezra</h3>
</li>
<li>
    <h3>Süreç</h3>
</li>
<li>
    <h3>Çar gave</h3>
</li>
<li>
    <h3>Mirlik</h3>
</li>
<li>
    <h3>Çıkış yapmak</h3>
</li>
<li>
    <h3>Kortik</h3>
</li>
<li>
    <h3>Çortan</h3>
</li>
<li>
    <h3>Dağdakiler</h3>
</li>
<li>
    <h3>Çilo</h3>
</li>
<li>
    <h3>Şive</h3>
</li>
<li>
    <h3>Hog</h3>
</li>
<li>
    <h3>Homa</h3>
</li>
<li>
    <h3>Kurmancî</h3>
</li>
<li>
    <h3>Zaza ser pîvaza ra za</h3>
</li>
<li>
    <h3>Dayê</h3>
</li>
<li>
    <h3>Siyah pantolonlular</h3>
</li>
<li>
    <h3>Govend</h3>
</li>
<li>
    <h3>Bavo</h3>
</li>
<li>
    <h3>Dayê</h3>
</li>
<li>
    <h3>Binkiras</h3>
</li>
<li>
    <h3>Dava</h3>
</li>
<li>
    <h3>Koçer</h3>
</li>
<li>
    <h3>Bijî</h3>
</li>
<li>
    <h3>Revok</h3>
</li>
<li>
    <h3>Qol</h3>
</li>
<li>
    <h3>Koşullar</h3>
</li>
<li>
    <h3>Palan</h3>
</li>
<li>
    <h3>Bajarî</h3>
</li>
<li>
    <h3>Rok</h3>
</li>
<li>
    <h3>Coğrafya</h3>
</li>
<li>
    <h3>Çiyayî</h3>
</li>
<li>
    <h3>Fille</h3>
</li>
<li>
    <h3>Maraba</h3>
</li>
<li>
    <h3>Delîlo</h3>
</li>
<li>
    <h3>Sarpa </h3>
</li>
<li>
    <h3>Bejik</h3>
</li>
<li>
    <h3>Mala </h3>
</li>
<li>
    <h3>Patos</h3>
</li>
<li>
    <h3>Yên derve </h3>
</li>
<li>
    <h3>Seriz</h3>
</li>
<li>
    <h3>Tandır</h3>
</li>
<li>
    <h3>Xançepek</h3>
</li>
<li>
    <h3>Veyvik</h3>
</li>
<li>
    <h3>Suriçi</h3>
</li>
<li>
    <h3>Sofî</h3>
</li>
<li>
    <h3>Misina</h3>
</li>
<li>
    <h3>YİBO</h3>
</li>
<li>
    <h3>Cahş</h3>
</li>
<li>
    <h3>Garaville</h3>
</li>
<li>
    <h3>Kutan</h3>
</li>
<li>
    <h3>Fahri imam</h3>
</li>
<li>
    <h3>Karavida</h3>
</li>
<li>
    <h3>Qirik</h3>
</li>
<li>
    <h3>Biksi kovanı</h3>
</li>
<li>
    <h3>Bozo</h3>
</li>
<li>
    <h3>Söylem</h3>
</li>
<li>
    <h3>Kor</h3>
</li>
<li>
    <h3>Gavur mahallesi</h3>
</li>
<li>
    <h3>Çerçî</h3>
</li>
<li>
    <h3>Metîna</h3>
</li>
<li>
    <h3>Taş ev</h3>
</li>
<li>
    <h3>Zero</h3>
</li>
<li>
    <h3>Sübye</h3>
</li>
<li>
    <h3>Sosyete Yörük</h3>
</li>
<li>
    <h3>Zarok</h3>
</li>
<li>
    <h3>Heval</h3>
</li>
<li>
    <h3>Mele</h3>
</li>
<li>
    <h3>Toplumsal taş atmalar</h3>
</li>
<li>
    <h3>Tozcular</h3>
</li>
<li>
    <h3>Melanur</h3>
</li>
<li>
    <h3>Gundî</h3>
</li>
<li>
    <h3>Kırsala gitmek</h3>
</li>
<li>
    <h3>Gayr-i meşru tayfa</h3>
</li>
<li>
    <h3>Orak</h3>
</li>
<li>
    <h3>Ağ bükmek</h3>
</li>
<li>
    <h3>Yimek</h3>
</li>
<li>
    <h3>Bük</h3>
</li>
<li>
    <h3>Selik</h3>
</li>
<li>
    <h3>Çırna</h3>
</li>
<li>
    <h3>Sinarit</h3>
</li>
<li>
    <h3>Kooperatif</h3>
</li>
<li>
    <h3>Sömbeki</h3>
</li>
<li>
    <h3>Domat</h3>
</li>
<li>
    <h3>Kumanya</h3>
<li>
    <h3>Sîya te xwar e</h3>
</li>
<li>
    <h3>Qi dê stranê bêje?</h3>
</li>

<li>
    <h3>Şemmame</h3>
</li>
<li>
    <h3>Bablekan</h3>
</li>
<li>
    <h3>Keletir</h3>
</li>
<li>
    <h3>Antre</h3>
</li>
<li>
    <h3> “Biraz toz bi tane otobüs”</h3>
</li>
<li>
    <h3>Qurajor qurahelal</h3>
</li>
<li>
    <h3>Qurajer quraharam</h3>
</li>
<li>
    <h3>Şeytan pazarı</h3>
</li>
<li>
    <h3>Qitik</h3>
</li>
<li>
    <h3>Bedyon</h3>
</li>
<li>
    <h3>Kapaksız</h3>
</li>
<li>
    <h3>Li Amedé Li Amedé</h3>
</li>
<li>
    <h3>Hevsel bahcesi</h3>
</li>
<li>
    <h3>Locin</h3>
</li>
<li>
    <h3>Çiyayé Bezar</h3>
</li>
<li>
    <h3>Zuzak</h3>
</li>
<li>
    <h3>Tarla tokat</h3>
</li>
<li>
    <h3>Antre</h3>
</li>
<li>
    <h3>Miras</h3>
</li>
<li>
    <h3>Çağla</h3>
</li>
<li>
    <h3>Payam</h3>
</li>
<li>
    <h3>Sezon</h3>
</li>
<li>
    <h3>Sahil</h3>
</li>
<li>
    <h3>Yerli</h3>
</li>
<li>
    <h3>Zeytin</h3>
</li>
<li>
    <h3>Şarap</h3>
</li>
<li>
    <h3>Turist</h3>
</li>
<li>
    <h3>Motor</h3>
</li>
<li>
    <h3>Kekik</h3>
</li>
<li>
    <h3>Deniz</h3>
</li>
<li>
    <h3>Yasu</h3>
</li>
<li>
    <h3>Janjanlı</h3>
</li>
<li>
    <h3>Barlar sokağı</h3>
</li>
<li>
    <h3>Bedel</h3>
</li>
<li>
    <h3>Psikolojisi bozuk</h3>
</li>
<li>
    <h3>Bölge</h3>
</li>
<li>
    <h3>Olaylar</h3>
</li>
<li>
    <h3>İzole</h3>
</li>
<li>
    <h3>Psikopat</h3>
</li>
<li>
    <h3>Ortam</h3>
</li>
<li>
    <h3>KPSS</h3>
</li>
<li>
    <h3>Şeytan pazarı</h3>
</li>
<li>
    <h3>Hareket</h3>
</li>
<li>
    <h3>Cenaze</h3>
</li>
<li>
    <h3>Travma</h3>
</li>
<li>
    <h3>Eylem</h3>
</li>
<li>
    <h3>Yardım yataklık</h3>
</li>
<li>
    <h3>Çökelek</h3>
</li>
<li>
    <h3>Steril</h3>
</li>
</ul>