<ul>
    <li>
        <div class="zamantag">
            <img src="/assets/img/sabit/zaman.png" height="27px" width="69px"/><!-- <img src="/assets/img/zamanbuton.png"/> -->
        </div>
    </li>
    <li>
        <div class="karsilasmalartag">
            <img src="/assets/img/karsilasmalar.png" height="28px" width="138px"/>
        </div>
    </li>
    <li>
        <div class="ekonomitag">
            <img src="/assets/img/ekonomiler.png" height="28px" width="109px"/>
        </div>
    </li>
    <li>
        <div onclick="location.href='/tag/siyaset'"class="siyasettag">
            <img src="/assets/img/sabit/siyaset.png" height="28px" width="76px"/>
        </div>
    </li>
    <li>
        <div class="egitimtag">
            <img src="/assets/img/egitim.png" height="28" width="66px"/>
        </div>
    </li>
    <li>
        <div class="mekanlartag">
            <img src="/assets/img/mekan.png" height="28px" width="68px"/>
        </div>
    </li>
    <li>
        <div class="iliskilertag">
            <img src="/assets/img/iliskiler.png" height="28px" width="83px"/>
        </div>
    </li>
    <li>
        <div class="oznelliktag">
            <img src="/assets/img/oznellik.png" height="28px" width="84px"/>
        </div>
    </li>
</ul>