ul.language-options {
	padding:0;
	margin:0;
	list-style:none;
	li {
		font-size: 12px;
		line-height: 1.4em;
		a{
			color:#ccc;
			&.selected-language {
				color:#000;
				font-weight: bold;

			}
		}	
	}
}


/*kurdish menu*/
.lang_ku {


	#menu {
		display: none;
		li {
			width:auto !important;
		}
	}
}