ul.language-options {
  padding: 0;
  margin: 0;
  list-style: none; }
  ul.language-options li {
    font-size: 12px;
    line-height: 1.4em; }
    ul.language-options li a {
      color: #ccc; }
      ul.language-options li a.selected-language {
        color: #000;
        font-weight: bold; }

/*kurdish menu*/
.lang_ku #menu {
  display: none; }
  .lang_ku #menu li {
    width: auto !important; }
