html, body {
	height: 105%;
	width: 100%;
}

footer {
	background-color: white;
	padding-top: 30px;
	margin-left: 20em;
}
footer .span3 {
	width:260px;
	height:35px;
}
footer > p {
	margin-left: 20em;
	margin-bottom: 11px;
	margin-top: 13px;
}
.container {
	margin-left: 20em;
}
footer .container {
	margin-left: 20em
}
footer .row {
	margin-left: 0
}
.row {
	margin-bottom: 13px;
}
.wrapper {
	min-height: 100%;
	height: auto !important;
	margin: 0 auto -153px;
}
.push {
	height: 153px;
}/* Just some arbitrary space to add between footer and rest of the content, when they are close */
/* not required for sticky footer; just makes some space for navigation bar */
.wrapper > .container-fluid {
	position: absolute;
	padding-top: 60px;
}
.wrapper > .container {
	padding-top: 30px;
	padding-left: 100px;
}

.span3 {
	margin-left:2px;
}
.span6 {float:left; margin-left:0;
    margin-right:8px;

}
.span9 {
	margin-left: 1px;
	margin-right: 0;
}
.ustmenu .span3 {
	height: 80px
}
p {
font-size:16px;
line-height:1.4;
padding-bottom: 17px;
padding-right: 16px;
padding-left: 16px;}
/* tarihler maviborder-color:red;border-style:solidborder-color:yellow; border-style:solid;*/
h2 {
	font-size: 14px;
    font-family: Trebuchet MS;
	Andalemono: Verdana;
	font-weight:lighter;
	color:black;
	line-height:22px;
}
/* Sergi acilisi konusma vb.#333333 */
h3 {
	font-size: 13px;
	font-family: Trebuchet MS;
	Andalemono: Verdana;
	font-weight: 300;
	color: #454545;
	letter-spacing: 1px;
	line-height:19px;
}
/* sozlug tag events vb#333333.  */
h4 {
	padding-top:0px;
	font-size: 11px;
	font-family: Trebuchet MS;
	Andalemono: Verdana;
	font-weight: 300;
	color:#222222;
	letter-spacing: 1px;
}

.newsticker-jcarousellite 

{   width:260px;
height:40px;
margin-top:10px; 
    margin-bottom:10px;
	background-color:white;
	border: none;
}

.newsticker-jcarousellite > ul {
	list-style:none; display:block; padding-bottom:4px;margin-bottom:5px;
}
.newsticker-jcarousellite > ul > li {
	padding-bottom:2px; margin-bottom:4px;padding-left:3px;
}
.clear { clear: both; }

.grikutu {
	width: 260px;
	height: 13px;
	background-color: #CCCCCC;
}
.grikututop {
	width: 536px;
	height: 13px;
    margin-right:29px;
	background-color:#CCCCCC;
}
.row {
	position: relative;
	margin-left: 0;
}
.altdortlu .ustdortlu {
	text-align: center
}

.nav-tabs > li > a, .nav-pills > li > a {
	margin-right: 0;
	margin-left:46px;
	padding-right: 3px;
	padding-left: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
}
.nav > li > a:hover {
	background-color: #EEEEEE;
}
.nav-tabs > li {padding-right:20px;}

.ustmenu {
	margin-left:0;
	height:85px;
}

#tagkutusu { 
	position: absolute;
	height: 120px;
	width: 270px;
}
#tagkutusu > ul {
	margin-left: 0;
	margin-bottom: 60px;
	padding-top: 2px;
    padding-bottom:2px;
}
#tagkutusu > ul > li {
	cursor:pointer;
	position: relative;
	float: left;
	list-style-type: none;
    padding-top: 2px;
	padding-left: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
}
#tagkutusu > ul > li > h5 {
	padding: 1px 1px 1px 1px;
}

.oralhist {
	width: 260px;
	height: 260px;
	position: relative;
	
}
#oralhist-text {
	position: absolute;
	padding-top: 30px;
	padding-right: 30px;
	padding-left: 20px;
	color: white;
}
#arsiv {
	width: 260px;
	height: 260px;
	position: relative;
	background-color: black
}
#arsiv:hover {
	opacity: 0.7
}
#arsiv-text {
	position: absolute;
	padding-top: 50px;
	padding-right: 30px;
	padding-left: 40px;
	color: white;
}

.ikincikisim {
	width: 260px;
	height: 260px;
	position: relative;
	background-color: #CC0000;
	cursor:pointer;
}
.ikincikisim :hover {
	color: #CC0000;
	text-transform: none;
}
.ikincikisimtext {
	position: absolute;
	padding-top: 6px;
	padding-right: 6px;
	padding-left: 6px;
	padding-bottom: 10px;
	color: white;
}
.ikincikisimtext:hover {
}
.ucuncukisim {
	width: 260px;
	height: 260px;
	position: relative;
	background-color: #33CC99;
}
.ucuncukisimtext {
	position: absolute;
	padding-top: 6px;
	padding-right: 6px;
	padding-left: 6px;
	padding-bottom: 10px;
	color: white;
}
.ucuncukisimtext:hover {
}

.dorduncukisim {
	width: 260px;
	height: 260px;
	position: relative;
	background-color: #CC0000;
}
.dorduncukisimtext {
	position: absolute;
	padding-top: 6px;
	padding-right: 10px;
	padding-left: 6px;
	padding-bottom: 6px;
	color: white;
}
.besincikisim {
	width: 260px;
	height: 260px;
	position: relative;
    cursor:pointer;
}
.besincikisimtext {
	position: absolute;
	padding-top: 6px;
	padding-right: 6px;
	padding-left: 6px;
	padding-bottom: 10px;
	color: white;
}
.dugme1 {
	width: 20px;
	height: 20px;
	display: block;
	border-radius: 60px;
	-moz-border-radius: 60px;
	-webkit-border-radius: 60px;
	-khtml-border-radius: 60px;
	font-size: 20px;
	color: #33CC99;
	line-height: 20px;
	text-decoration: none;
	text-align: center;
	background: #33CC99;
	right: 62px;
	bottom: 10px;
	float: right;
	position: absolute;
}
.dugme1:hover {
	color: #CC0000;
	text-decoration: none;
	background: #333
}

.dugme1beyaz {
	width: 18.5px;
	height: 18.5px;
	background-color: #990066;
	border-color: white;
	border-style: solid;
	border-width: 1.5px;
	display: block;
	border-radius: 60px;
	-moz-border-radius: 60px;
	-webkit-border-radius: 60px;
	-khtml-border-radius: 60px;
	font-size: 20px;
	line-height: 1px;
	text-decoration: none;
	text-align: center;
	background: #990066;
	right: 62px;
	bottom: 10px;
	float: right;
	position: absolute;
}
.dugme1beyaz:hover {
	color: #CC0000;
	text-decoration: none;
	background: #333
}

.dugme2 {
	width: 20px;
	height: 20px;
	display: block;
	border-radius: 60px;
	-moz-border-radius: 60px;
	-webkit-border-radius: 60px;
	-khtml-border-radius: 60px;
	font-size: 20px;
	line-height: 20px;
	text-decoration: none;
	text-align: center;
	background: #33CC99;
	right: 36px;
	bottom: 10px;
	float: right;
	position: absolute;
}

.dugme2:hover {
	color: #CC0000;
	text-decoration: none;
	background: #333
}

.dugme3 {
	width: 20px;
	height: 20px;
	display: block;
	border-radius: 60px;
	-moz-border-radius: 60px;
	-webkit-border-radius: 60px;
	-khtml-border-radius: 60px;
	font-size: 20px;
	line-height: 20px;
	text-decoration: none;
	text-align: center;
	background: #CC0000;
	right: 10px;
	bottom: 10px;
	float: right;
	position: absolute;
}

.dugme3:hover {
	color: #CC0000;
	text-decoration: none;
	background: #333
}

.zaman {
	color: #FFCC00;
	background: #FFCC00;
}
.iliskiler {
	color: #333399;
	background: #333399;
}
.siyaset {
	color: #CC0000;
	background: #CC0000;
}
.mekanlar {
	color: #FF6633;
	background: #FF6633;
}
.karsilasmalar {
	color: #6699CC;
	background: #6699CC;
}
.egitim {
	color: #33CC99;
	background: #33CC99;
}
.ekonomi {
	color: #990066;
	background: #990066;
}
.oznellik {
	color: #009933;
	background: #009933;
}
/*
 Tagler buton renkleri
 */
.zamantag {
    color: #FFCC00;
    background: #FFCC00;
}
.iliskilertag {
    color: #333399;
    background: #333399;
}
.siyasettag {
    background-color: #CC0000;
}
.mekanlartag {
    color: #FF6633;
    background: #FF6633;
}
.karsilasmalartag {
    color: #6699CC;
    background: #6699CC;
}
.egitimtag {
    color: #33CC99;
    background: #33CC99;
}
.ekonomitag {
    color: #990066;
    background: #990066;
}
.oznelliktag {
    color: #009933;
    background: #009933;
}

#social {
	display: inline
}
.twitter {
	padding-top: 2px
}
/*
 sablon b css i
 */
.transcript {
	float: right;
	border:10px;
	border-style: solid;
	width: 506px;
	height:1000px;
	padding-right: 12px;
	padding-left: 15px;
	padding-top: 12px;
	text-align:left;
	
}
#transcriptdugme {
    width: 318px;
    height: 40px;

}
#transcripscrol{
	
}
#video {
	float: right;
	margin-bottom:10px;
}
/*
 transcript kenarindaki border renkleri icin asagidaki kullanilacak. transcript classindan sonra
 */
.zamanb {
	border-color: #FFCC00;
}
.iliskilerb {
	border-color: #000099;
}
.siyasetb {
	border-color: #CC0000;
}
.mekanlarb {
	border-color: #FF6633;
}
.karsilasmalarb {
	border-color: #6699CC;
}
.egitimb {
	border-color: #33CC99;
}
.ekonomib {
	border-color: #990066;
}
.oznellikb {
	border-color: #009933;
}
/*
 sablon b eskiden kalanlar css i


.s2birincikare {
	width: 260px;
	height: 260px;
	position: absolute;
	background-color: #33CC99;
}

.s2karetext {
	position: absolute;
	padding-top: 6px;
	padding-right: 6px;
	padding-left: 6px;
	padding-bottom: 10px;
	color: white;
}

.s2ikincikare {
	width: 260px;
	height: 260px;
	position: absolute;
	background-color: #009933;
}
.s2karetext {
	position: absolute;
	padding-top: 6px;
	padding-right: 6px;
	padding-left: 6px;
	padding-bottom: 10px;
	color: white;
}

.s2ucuncukare {
	width: 260px;
	height: 260px;
	position: absolute;
	background-color: #FF6633;
}

.s2dorduncukare {
	width: 260px;
	height: 260px;
	position: absolute;
	background-color: #6699CC;
}



.zaman {
	color: #FFCC00;
	background: #FFCC00;
}
.iliskiler {
	color: #333399;
	background: #333399;
}
.siyaset {
	color: #CC0000;
	background: #CC0000;
}
.mekanlar {
	color: #FF6633;
	background: #FF6633;
}
.karsilasmalar {
	color: #6699CC;
	background: #6699CC;
}
.egitim {
	color: #33CC99;
	background: #33CC99;
}
.ekonomi {
	color: #990066;
	background: #990066;
}
.oznellik {
	color: #009933;
	background: #009933;
}



/*
 sablon c css i
 */
#kutucuklar {
	height: 90px;
	weight: 90px;
	background-color: black
}
#kutucuklar2 {
	height: 90px;
	weight: 90px;
	background-color: blue
}
.minikutu {
	weight: 90px;
	height: 90px;
	border: 5px;
	border-style: solid;
	color: red;
}

.s3dugme1 {
	width: 15px;
	height: 15px;
	display: block;
	border-radius: 60px;
	-moz-border-radius: 60px;
	-webkit-border-radius: 60px;
	-khtml-border-radius: 60px;
	font-size: 20px;
	color: #33CC99;
	line-height: 20px;
	text-decoration: none;
	text-align: center;
	background: #33CC99;
	right: 45px;
	bottom: 65px;
	float: right;
	position: absolute;
}
.s3dugme1:hover {
	color: #CC0000;
	text-decoration: none;
	background: #333
}

.s3dugme2 {
	width: 15px;
	height: 15px;
	display: block;
	border-radius: 60px;
	-moz-border-radius: 60px;
	-webkit-border-radius: 60px;
	-khtml-border-radius: 60px;
	font-size: 20px;
	color: #33CC99;
	line-height: 20px;
	text-decoration: none;
	text-align: center;
	background: #33CC99;
	right: 26px;
	bottom: 65px;
	float: right;
	position: absolute;
}

.s3dugme2:hover {
	color: #CC0000;
	text-decoration: none;
	background: #333
}

.s3dugme3 {
	width: 15px;
	height: 15px;
	display: block;
	border-radius: 60px;
	-moz-border-radius: 60px;
	-webkit-border-radius: 60px;
	-khtml-border-radius: 60px;
	font-size: 20px;
	color: #CC0000;
	line-height: 20px;
	text-decoration: none;
	text-align: center;
	background: #CC0000;
	right: 7px;
	bottom: 65px;
	float: right;
	position: absolute;
}

.s3dugme3:hover {
	color: #CC0000;
	text-decoration: none;
	background: #333
}

.zaman {
	color: #FFCC00;
	background: #FFCC00;
}
.iliskiler {
	color: #333399;
	background: #333399;
}
.siyaset {
	color: #CC0000;
	background: #CC0000;
}
.mekanlar {
	color: #FF6633;
	background: #FF6633;
}
.karsilasmalar {
	color: #6699CC;
	background: #6699CC;
}
.egitim {
	color: #33CC99;
	background: #33CC99;
}
.ekonomi {
	color: #990066;
	background: #990066;
}
.oznellik {
	color: #009933;
	background: #009933;
}
