body {
	margin:0 auto;
	width: 1000px;
	
}

/*footer {
	background-color:#FFFFFF;
	padding-top: 30px;

}
footer .span3 {
	weight: 200px;
	height: 35px;
}
footer > p {
	margin-bottom: 11px;
	margin-top: 13px;
}
.container {
	margin:0 auto;
	width:1170px;
}
footer .container {
	margin-left: 25em
}
footer .row {
	margin-left: 0px
}

.wrapper {
	height: auto !important;
	height: 100%;
	margin: 0 auto;
}*/
.push {
	height: 200px;
}
/* Just some arbitrary space to add between footer and rest of the content, when they are close */
/* not required for sticky footer; just makes some space for navigation bar *//*
.wrapper > .container-fluid {
	position: absolute;
	padding-top: 60px;
}
.wrapper > .container {
	padding-top: 30px;
	padding-left: 100px;
}

 */
/*.row {
	margin-bottom: 6px;
	weight:1000px;
}
 .span2 {
      	background-color:yellow;
      	margin-bottom:10px;
      	height:10px;
      }

.span3 {
	margin-left: 7px;
	margin-right: 1px;
	width: 200px;
	height: 200px;
}

.span9 {
	width: 556px;
	margin-left: 6px;
	margin-right: 6px;
}*/

.span2 {
	padding-right:10px;
	padding-bottom:10px;
}
      
.ustmenu .span3 {
	height: 73px
}
h4 {
	font-size: 9px;
	font-family: Trebuchet MS;Andalemono: Verdana;
	font-weight: 200;
	color:#666666; 
	letter-spacing:1px;
}
h5 {
	font-family: Trebuchet MS;
	font-size: 9px;
	font-weight:100;
	color: #FFFFFF;
}
h6 {
	font-size: 12 px;
	font-family: Trebuchet MS Andalemono Verdana;
	font-weight: 600
}
.grikutu {
	width: 200px;
	height: 12px;
	background-color: #CCCCCC
}
.grikututop {
	width: 366px;
	height: 12px;
	margin-right: 0 px;
	background-color: #CCCCCC
}
/*.row {
	position: relative;
	margin-left: 0px;
}*/
.altdortlu .ustdortlu {
	text-align: center
}

.nav-tabs > li > a, .nav-pills > li > a {
	margin-right: 0px;
	padding-right: 3px;
	padding-left: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
}
.nav > li > a:hover {
	background-color: #EEEEEE
}

.ustmenu {
	margin-left: 0px
}

#ticker {
weight:200px;
height:40px;
background-color:none;
border:none;
padding: 1px;
color:gray;
}

ul#news {
 list-style: none;
 margin: 0;
 padding: 0;
}

ul#news li {
 margin: 0;
}

#tagkutusu {
	position:absolute;
	height: 78px;
	width: 260px;
}
#tagkutusu > ul {
	margin-left: 0px;
	margin-bottom: 60px;
	padding-top: 2px;
}
#tagkutusu > ul > li {
	position:relative;
	float: left;
	list-style-type: none;
	padding-left: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
}
#tagkutusu > ul > li > h5 {
	padding: 1 1 1 1px;
}

.oralhist {
	width: 200px;
	height: 200px;
	position: relative;
	background-color: red;
}
#oralhist-text {
	position: absolute;
	padding-top: 30px;
	padding-right: 30px;
	padding-left: 20px;
	color: white;
}
#arsiv {
	width: 200px;
	height: 200px;
	position: relative;
	background-color: black
}
#arsiv:hover {
	opacity:0.7
}
#arsiv-text {
	position: absolute;
	padding-top: 50px;
	padding-right: 30px;
	padding-left: 40px;
	color: white;
}

.ikincikisim {
	width: 200px;
	height: 200px;
	position: relative;
	background-color: #CC0000;
}
.ikincikisim :hover {
	color: #CC0000;
	text-transform: none;
}
.ikincikisimtext {
	position: absolute;
	padding-top: 6px;
	padding-right: 6px;
	padding-left: 6px;
	padding-bottom: 10px;
	color: white;
}
.ikincikisimtext:hover {
}

.ucuncukisim {
	width: 200px;
	height: 200px;
	position: relative;
	background-color: #33CC99;
}
.ucuncukisimtext {
	position: absolute;
	padding-top: 6px;
	padding-right: 6px;
	padding-left: 6px;
	padding-bottom: 10px;
	color: white;
}
.ucuncukisim:hover {
	display:block
}

.dorduncukisim {
	width: 200px;
	height: 200px;
	position: relative;
	background-color: #CC0000;
}
.dorduncukisim :hover .videosign{
	opacity:0.9;
	display:block
}
.dorduncukisimtext {
	position: absolute;
	padding-top: 6px;
	padding-right: 10px;
	padding-left: 6px;
	padding-bottom: 6px;
	color: white;
}
.besincikisim {
	width: 200px;
	height: 200px;
	position: relative;
	background-color: #33CC99;
}
.besincikisimtext {
	position: absolute;
	padding-top: 6px;
	padding-right: 6px;
	padding-left: 6px;
	padding-bottom: 10px;
	color: white;
}
.dugme1 {
	width: 16px;
	height: 16px;
	display: block;
	border-radius: 60px;
	-moz-border-radius: 60px;
	-webkit-border-radius: 60px;
	-khtml-border-radius: 60px;
	font-size: 20px;
	color: #33CC99;
	line-height: 20px;
	text-decoration: none;
	text-align: center;
	background: #33CC99;
	right: 46px;
	bottom: 7px;
	float: right;
	position: absolute;
}
.dugme1:hover {
	color: #CC0000;
	text-decoration: none;
	background: #333
}

.dugme1beyaz {
	width: 15px;
	height: 15px;
	background-color: #990066;
	border-color: white;
	border-style: solid;
	border-width: 1px;
	display: block;
	border-radius: 60px;
	-moz-border-radius: 60px;
	-webkit-border-radius: 60px;
	-khtml-border-radius: 60px;
	font-size: 20px;
	line-height: 1px;
	text-decoration: none;
	text-align: center;
	background: #990066;
	right: 46px;
	bottom: 7px;
	float: right;
	position: absolute;
}
.dugme1beyaz:hover {
	color: #CC0000;
	text-decoration: none;
	background: #333
}

.dugme2 {
	width: 16px;
	height: 16px;
	display: block;
	border-radius: 60px;
	-moz-border-radius: 60px;
	-webkit-border-radius: 60px;
	-khtml-border-radius: 60px;
	font-size: 20px;
	line-height: 20px;
	text-decoration: none;
	text-align: center;
	background: #33CC99;
	right: 26px;
	bottom: 7px;
	float: right;
	position: absolute;
}

.dugme2:hover {
	color: #CC0000;
	text-decoration: none;
	background: #333
}

.dugme3 {
	width: 16px;
	height: 16px;
	display: block;
	border-radius: 60px;
	-moz-border-radius: 60px;
	-webkit-border-radius: 60px;
	-khtml-border-radius: 60px;
	font-size: 20px;
	line-height: 20px;
	text-decoration: none;
	text-align: center;
	background: #CC0000;
	right: 6px;
	bottom: 7px;
	float: right;
	position: absolute;
}

.dugme3:hover {
	color: #CC0000;
	text-decoration: none;
	background: #333
}

.zaman {
	color: #FFCC00;
	background: #FFCC00;
}
.iliskiler {
	color: #333399;
	background: #333399;
}
.siyaset {
	color: #CC0000;
	background: #CC0000;
}
.mekanlar {
	color: #FF6633;
	background: #FF6633;
}
.karsilasmalar {
	color: #6699CC;
	background: #6699CC;
}
.egitim {
	color: #33CC99;
	background: #33CC99;
}
.ekonomi {
	color: #990066;
	background: #990066;
}
.oznellik {
	color: #009933;
	background: #009933;
}

#social {
	display: inline
}
.twitter {
	padding-top: 2px
}

.videosign 
a:hover .videosign{
display:block
}

/*
 sablon b css i
 */

.span6 {
	weight: 320px;
	height: 90px
}

.transcript {
	float: right;
	border: 5px;
	border-style: solid;
	width: 318px;
	height: 500px;
	border-color: #33CC99;
	padding-right: 2em;
	padding-left: 2em;
	padding-top: 2em;
}
#transcriptdugme {
	width: 318px;
	height: 20px;
	padding-right: 100px
}

.s2birincikare {
	width: 200px;
	height: 200px;
	position: absolute;
	background-color: #33CC99;
}

.s2karetext {
	position: absolute;
	padding-top: 6px;
	padding-right: 6px;
	padding-left: 6px;
	padding-bottom: 10px;
	color: white;
}

.s2ikincikare {
	width: 200px;
	height: 200px;
	position: absolute;
	background-color: #009933;
}
.s2karetext {
	position: absolute;
	padding-top: 6px;
	padding-right: 6px;
	padding-left: 6px;
	padding-bottom: 10px;
	color: white;
}

.s2ucuncukare {
	width: 200px;
	height: 200px;
	position: absolute;
	background-color: #FF6633;
}

.s2dorduncukare {
	width: 200px;
	height: 200px;
	position: absolute;
	background-color: #6699CC;
}

#video {
	float: right;
	border: 5px;
	border-style: solid;
	color: silver
}

.zaman {
	color: #FFCC00;
	background: #FFCC00;
}
.iliskiler {
	color: #333399;
	background: #333399;
}
.siyaset {
	color: #CC0000;
	background: #CC0000;
}
.mekanlar {
	color: #FF6633;
	background: #FF6633;
}
.karsilasmalar {
	color: #6699CC;
	background: #6699CC;
}
.egitim {
	color: #33CC99;
	background: #33CC99;
}
.ekonomi {
	color: #990066;
	background: #990066;
}
.oznellik {
	color: #009933;
	background: #009933;
}

/*
 transcript kenarindaki border renkleri icin asagidaki kullanilacak. transcript classindan sonra
 */
.zamanb {
	border-color: #FFCC00;
}
.iliskilerb {
	border-color: #000099;
}
.siyasetb {
	border-color: #CC0000;
}
.mekanlarb {
	border-color: #FF6633;
}
.karsilasmalarb {
	border-color: #6699CC;
}
.egitimb {
	border-color: #33CC99;
}
.ekonomib {
	border-color: #990066;
}
.oznellikb {
	border-color: #009933;
}

/*
 sablon c css i
 */
#kutucuklar {
	height: 90px;
	weight: 90px;
	background-color: black
}
#kutucuklar2 {
	height: 90px;
	weight: 90px;
	background-color: blue
}
.minikutu {
	weight: 90px;
	height: 90px;
	border: 5px;
	border-style: solid;
	color: red;
}

.s3dugme1 {
	width: 15px;
	height: 15px;
	display: block;
	border-radius: 60px;
	-moz-border-radius: 60px;
	-webkit-border-radius: 60px;
	-khtml-border-radius: 60px;
	font-size: 20px;
	color: #33CC99;
	line-height: 20px;
	text-decoration: none;
	text-align: center;
	background: #33CC99;
	right: 45px;
	bottom: 65px;
	float: right;
	position: absolute;
}
.s3dugme1:hover {
	color: #CC0000;
	text-decoration: none;
	background: #333
}

.s3dugme2 {
	width: 15px;
	height: 15px;
	display: block;
	border-radius: 60px;
	-moz-border-radius: 60px;
	-webkit-border-radius: 60px;
	-khtml-border-radius: 60px;
	font-size: 20px;
	color: #33CC99;
	line-height: 20px;
	text-decoration: none;
	text-align: center;
	background: #33CC99;
	right: 26px;
	bottom: 65px;
	float: right;
	position: absolute;
}

.s3dugme2:hover {
	color: #CC0000;
	text-decoration: none;
	background: #333
}

.s3dugme3 {
	width: 15px;
	height: 15px;
	display: block;
	border-radius: 60px;
	-moz-border-radius: 60px;
	-webkit-border-radius: 60px;
	-khtml-border-radius: 60px;
	font-size: 20px;
	color: #CC0000;
	line-height: 20px;
	text-decoration: none;
	text-align: center;
	background: #CC0000;
	right: 7px;
	bottom: 65px;
	float: right;
	position: absolute;
}

.s3dugme3:hover {
	color: #CC0000;
	text-decoration: none;
	background: #333
}

.zaman {
	color: #FFCC00;
	background: #FFCC00;
}
.iliskiler {
	color: #333399;
	background: #333399;
}
.siyaset {
	color: #CC0000;
	background: #CC0000;
}
.mekanlar {
	color: #FF6633;
	background: #FF6633;
}
.karsilasmalar {
	color: #6699CC;
	background: #6699CC;
}
.egitim {
	color: #33CC99;
	background: #33CC99;
}
.ekonomi {
	color: #990066;
	background: #990066;
}
.oznellik {
	color: #009933;
	background: #009933;
}
