html, body {
    height: 100%;
    width: 100%;
    font-size:22px;
}

/*.row {margin-bottom:10px;margin-left:160px}*/
.row {margin-bottom:10px;}

/*.row {margin-bottom:10px;margin-left:160px}.no-space [class*="span"] {
margin-left: 0;
}*/
.span3 > .row {margin-left:0;margin-bottom:10px}

.no-space [class*="span"] {
margin-left: 0;
}

.ustmenu {
    margin-left:0;
    height:85px;
}

footer {
    position:relative;
    background-color:white;
}
footer .span3 {
    width: 260px;
    height: 13px;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -155px;
}
.push {
    height: 155px;
}
.footer, .push {clear:both;}
/* Just some arbitrary space to add between footer and rest of the content, when they are close */
/* not required for sticky footer; just makes some space for navigation bar */
/*.wrapper > .container-fluid {
    position: absolute;
    padding-top: 60px;
}
.wrapper > .container {
    padding-top: 30px;
    padding-left: 100px;
} */


/* transcript bolumu ve genel sayfalarda*/
p   {opacity:60;
    font-size:14px;
    line-height:1.2;
    padding-bottom: 17px;}

/*br{*/
    /*display:block;*/
    /*margin: 10px 0;*/
    /*line-height:22px;*/
    /*content: " ";*/
/*}*/

/* transcript cufon*/
h1{ color:#000000;
    font-size:25px;
    line-height:30px;
    font-kerning:auto;
    padding-bottom:14px;
}
/* transcript cufon kurdi*/
h5 { color:#222222;
    font-size:22px;
    line-height:11px;
    font-kerning:auto;
}

/* tarihler mavi*/
h2 {
    font-size: 14px;
    font-family: Trebuchet MS;
    Andalemono: Verdana;
    font-weight:lighter;
    color:black;
    line-height:22px;

}
/* Sergi-konusma*/
h3 {
    font-size: 13px;
    font-family: Trebuchet MS;
    Andalemono: Verdana;
    font-weight: 300;
    color: #454545;
    letter-spacing: 1px;
    line-height:19px;
}
/* sozlug tag events */
h4 {
    padding-top:0px;
    font-size: 11px;
    font-family: Trebuchet MS;
    Andalemono: Verdana;
    font-weight: 300;
    color:#222222;
    letter-spacing: 1px;
}
#etkinlik {margin-bottom:127px;}

.clear { clear: both;
}

.grikutu {
    width: 260px;
    height: 13px;
    background-color: #CCCCCC;
    position:relative;

}
.grikututop {
    width: 532px;
    height: 13px;
    margin-right:0px;
    background-color:#CCCCCC;
}
.altdortlu .ustdortlu {
    text-align: center
}


.centered-pills { text-align:center; }
.centered-pills ul.nav-pills { display:inline-block; }
.centered-pills li { display:inline; }
.centered-pills a { float:right; }

#tagkutusu {
    position: relative;
    display:table;
}
#tagkutusu > ul {
    height: 99px;
    width: 270px;
    margin-left: 0;
    margin-bottom: 0;
    Margin-top:33px;
}
#tagkutusu > ul > li {
    cursor:pointer;
    position:relative;
    float: left;
    list-style-type: none;
    padding-top: 2px;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 2px;

}
#tagkutusu > ul> li > img {
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;}

#menu {display:table; width:534px}
#menu ul {display:table-row; width: 100%}
#menu li {display: table-cell; text-align:justify; width:20%;}
.left {display: table-cell; text-align: left;  white-space:nowrap;}
.right {display: table-cell; text-align: right; white-space:nowrap;}

.baslikt { cursor:pointer;}

/* ustteki kisim silinecek! tagkutusu img.
 Tagler buton renkleri
 */
.zamantag {
    background-color: #FFCC00;
}
.iliskilertag {
    background-color: #333399;
}
.siyasettag {
    background-color: #CC0000;
}
.mekanlartag {
    background-color: #FF6633;
}
.karsilasmalartag {
    background-color: #6699CC;
}
.egitimtag {
    background-color: #33CC99;
}
.ekonomitag {
    background-color: #990066;
}
.oznelliktag {
    background-color: #009933;
}

.bir {
    width: 260px;
    height: 260px;
    position: relative;
    margin-bottom:10px;

}
.birtext {
    position: absolute;
    padding-top: 6px;
    padding-right: 6px;
    padding-left: 6px;
    padding-bottom: 10px;
    color: white;
}
.iki {
    width: 260px;
    height: 260px;
    position: relative;
    cursor:pointer;
    margin-bottom:10px;
}
.iki :hover {
    color:#333399;
    text-transform: none;
}
.ikitext {
    position: absolute;
    padding-top: 6px;
    padding-right: 6px;
    padding-left: 6px;
    margin-bottom: 10px;
    color: white;
}
.ikitext:hover {
}
.uc {
    width: 260px;
    height: 260px;
    position: relative;
    cursor:pointer;
    margin-bottom: 10px;
}
.uctext {
    position: absolute;
    padding-top: 6px;
    padding-right: 10px;
    padding-left: 6px;
    margin-bottom-bottom: 6px;
}

.dort {
    width: 260px;
    height: 260px;
    position: relative;
    cursor:pointer;
    margin-bottom: 10px;
}
.dorttext {
    position: absolute;
    padding-top: 6px;
    padding-right: 10px;
    padding-left: 6px;
    padding-bottom: 6px;
}
.bes {
    width: 260px;
    height: 260px;
    position: relative;
    cursor:pointer;

}
.bestext {
    position: absolute;
    padding-top: 6px;
    padding-right: 6px;
    padding-left: 6px;
    padding-bottom: 10px;
    color: white;
}
#arsiv {
    width: 260px;
    height: 260px;
    position: relative;
    background-color: black;
    cursor:pointer;
}
#arsiv:hover {
    opacity: 0.9

}
#arsiv-text {
    position: absolute;
    padding-top: 50px;
    padding-right: 30px;
    padding-left: 40px;
    color: white;
}
.dugme1 {
    width: 20px;
    height: 20px;
    display: block;
    border-radius: 60px;
    -moz-border-radius: 60px;
    -webkit-border-radius: 60px;
    -khtml-border-radius: 60px;
    font-size: 20px;
    color: #33CC99;
    line-height: 20px;
    text-decoration: none;
    text-align: center;
    background: #33CC99;
    right: 62px;
    bottom: 10px;
    float: right;
    position: absolute;
}
.dugme1:hover {
    color: #CC0000;
    text-decoration: none;
    background: #333
}

.dugme1beyaz {
    width: 18.5px;
    height: 18.5px;
    background-color: #990066;
    border-color: white;
    border-style: solid;
    border-width: 1.5px;
    display: block;
    border-radius: 60px;
    -moz-border-radius: 60px;
    -webkit-border-radius: 60px;
    border-top-right-radius: 60px;
    border-top-left-radius: 60px;
    border-bottom-right-radius: 60px;
    border-bottom-left-radius: 60px;
    font-size: 20px;
    line-height: 1px;
    text-decoration: none;
    text-align: center;
    background: #990066;
    right: 62px;
    bottom: 10px;
    float: right;
    position: absolute;
}
.dugme1beyaz:hover {
    color: #CC0000;
    text-decoration: none;
    background: #333
}

.dugme2 {
    width: 20px;
    height: 20px;
    display: block;
    border-radius: 60px;
    -moz-border-radius: 60px;
    -webkit-border-radius: 60px;
    -khtml-border-radius: 60px;
    font-size: 20px;
    line-height: 20px;
    text-decoration: none;
    text-align: center;
    background: #33CC99;
    right: 36px;
    bottom: 10px;
    float: right;
    position: absolute;
}

.dugme2:hover {
    color: #CC0000;
    text-decoration: none;
    background: #333
}

.dugme3 {
    width: 20px;
    height: 20px;
    display: block;
    border-radius: 60px;
    -moz-border-radius: 60px;
    -webkit-border-radius: 60px;
    -khtml-border-radius: 60px;
    font-size: 20px;
    line-height: 20px;
    text-decoration: none;
    text-align: center;
    background: #CC0000;
    right: 10px;
    bottom: 10px;
    float: right;
    position: absolute;
}

.dugme3:hover {
    color: #CC0000;
    text-decoration: none;
    background: #333
}

.zaman {
    color: #FFCC00;
    background: #FFCC00;
}
.iliskiler {
    color: #333399;
    background: #333399;
}
.siyaset {
    color: #CC0000;
    background: #CC0000;
}
.mekanlar {
    color: #FF6633;
    background: #FF6633;
}
.karsilasmalar {
    color: #6699CC;
    background: #6699CC;
}
.egitim {
    color: #33CC99;
    background: #33CC99;
}
.ekonomi {
    color: #990066;
    background: #990066;
}
.oznellik {
    color: #009933;
    background: #009933;
}

/*
 sablon b css i
 */

#metin {width:530px;height:300px;}

.pirpir {opacity:0.0;
    width:100px;
    height:38px;
    right:2px;
    bottom: 1px;
    float: right;
    position: absolute;}


#video {
    /*border-color:black;*/
    /*border-style:solid;*/
    height:390px;
    width:520px;
    margin-left:10px;
}

.transcript {
    float: right;
    border:10px;
    border-style: solid;
    width: 483px;
    height:638px;
    padding-right: 12px;
    padding-left: 15px;
    padding-top: 12px;
    text-align:left;

}
#transcriptdugme {
    width: 318px;
    height: 40px;
}

/*
 transcript kenarindaki border renkleri icin asagidaki kullanilacak. transcript classindan sonra
 */
.zamanb {
    border-color: #FFCC00;
}
.iliskilerb {
    border-color: #000099;
}
.siyasetb {
    border-color: #CC0000;
}
.mekanlarb {
    border-color: #FF6633;
}
.karsilasmalarb {
    border-color: #6699CC;
}
.egitimb {
    border-color: #33CC99;
}
.ekonomib {
    border-color: #990066;
}
.oznellikb {
    border-color: #009933;
}
/*
 sablon b eskiden kalanlar css i


.s2birincikare {
	width: 260px;
	height: 260px;
	position: absolute;
	background-color: #33CC99;
}

.s2karetext {
	position: absolute;
	padding-top: 6px;
	padding-right: 6px;
	padding-left: 6px;
	padding-bottom: 10px;
	color: white;
}

.s2ikincikare {
	width: 260px;
	height: 260px;
	position: absolute;
	background-color: #009933;
}
.s2karetext {
	position: absolute;
	padding-top: 6px;
	padding-right: 6px;
	padding-left: 6px;
	padding-bottom: 10px;
	color: white;
}

.s2ucuncukare {
	width: 260px;
	height: 260px;
	position: absolute;
	background-color: #FF6633;
}

.s2dorduncukare {
	width: 260px;
	height: 260px;
	position: absolute;
	background-color: #6699CC;
}



.zaman {
	color: #FFCC00;
	background: #FFCC00;
}
.iliskiler {
	color: #333399;
	background: #333399;
}
.siyaset {
	color: #CC0000;
	background: #CC0000;
}
.mekanlar {
	color: #FF6633;
	background: #FF6633;
}
.karsilasmalar {
	color: #6699CC;
	background: #6699CC;
}
.egitim {
	color: #33CC99;
	background: #33CC99;
}
.ekonomi {
	color: #990066;
	background: #990066;
}
.oznellik {
	color: #009933;
	background: #009933;
}



/*
 sablon c css i
 */
#kutucuklar {
    height: 90px;
    width: 90px;
    background-color: black
}
#kutucuklar2 {
    height: 90px;
    width: 90px;
    background-color: blue
}
.minikutu {
    weight: 90px;
    height: 90px;
    border: 5px;
    border-style: solid;
    color: red;
}

.s3dugme1 {
    width: 15px;
    height: 15px;
    display: block;
    border-radius: 60px;
    -moz-border-radius: 60px;
    -webkit-border-radius: 60px;
    -khtml-border-radius: 60px;
    font-size: 20px;
    color: #33CC99;
    line-height: 20px;
    text-decoration: none;
    text-align: center;
    background: #33CC99;
    right: 45px;
    bottom: 65px;
    float: right;
    position: absolute;
}
.s3dugme1:hover {
    color: #CC0000;
    text-decoration: none;
    background: #333
}

.s3dugme2 {
    width: 15px;
    height: 15px;
    display: block;
    border-radius: 60px;
    -moz-border-radius: 60px;
    -webkit-border-radius: 60px;
    -khtml-border-radius: 60px;
    font-size: 20px;
    color: #33CC99;
    line-height: 20px;
    text-decoration: none;
    text-align: center;
    background: #33CC99;
    right: 26px;
    bottom: 65px;
    float: right;
    position: absolute;
}

.s3dugme2:hover {
    color: #CC0000;
    text-decoration: none;
    background: #333
}

.s3dugme3 {
    width: 15px;
    height: 15px;
    display: block;
    border-radius: 60px;
    -moz-border-radius: 60px;
    -webkit-border-radius: 60px;
    -khtml-border-radius: 60px;
    font-size: 20px;
    color: #CC0000;
    line-height: 20px;
    text-decoration: none;
    text-align: center;
    background: #CC0000;
    right: 7px;
    bottom: 65px;
    float: right;
    position: absolute;
}

/*
 sablon b css i
 */


/*
 transcript kenarindaki border renkleri icin asagidaki kullanilacak. transcript classindan sonra
 */
.zamanb {
	border-color: #FFCC00;
}
.iliskilerb {
	border-color: #000099;
}
.siyasetb {
	border-color: #CC0000;
}
.mekanlarb {
	border-color: #FF6633;
}
.karsilasmalarb {
	border-color: #6699CC;
}
.egitimb {
	border-color: #33CC99;
}
.ekonomib {
	border-color: #990066;
}
.oznellikb {
	border-color: #009933;
}
/*
 sablon b eskiden kalanlar css i


.s2birincikare {
	width: 260px;
	height: 260px;
	position: absolute;
	background-color: #33CC99;
}

.s2karetext {
	position: absolute;
	padding-top: 6px;
	padding-right: 6px;
	padding-left: 6px;
	padding-bottom: 10px;
	color: white;
}

.s2ikincikare {
	width: 260px;
	height: 260px;
	position: absolute;
	background-color: #009933;
}
.s2karetext {
	position: absolute;
	padding-top: 6px;
	padding-right: 6px;
	padding-left: 6px;
	padding-bottom: 10px;
	color: white;
}

.s2ucuncukare {
	width: 260px;
	height: 260px;
	position: absolute;
	background-color: #FF6633;
}

.s2dorduncukare {
	width: 260px;
	height: 260px;
	position: absolute;
	background-color: #6699CC;
}



.zaman {
	color: #FFCC00;
	background: #FFCC00;
}
.iliskiler {
	color: #333399;
	background: #333399;
}
.siyaset {
	color: #CC0000;
	background: #CC0000;
}
.mekanlar {
	color: #FF6633;
	background: #FF6633;
}
.karsilasmalar {
	color: #6699CC;
	background: #6699CC;
}
.egitim {
	color: #33CC99;
	background: #33CC99;
}
.ekonomi {
	color: #990066;
	background: #990066;
}
.oznellik {
	color: #009933;
	background: #009933;
}



/*
 sablon c css i
 */
#kutucuklar {
	height: 90px;
	weight: 90px;
	background-color: black
}
#kutucuklar2 {
	height: 90px;
	weight: 90px;
	background-color: blue
}
.minikutu {
	weight: 90px;
	height: 90px;
	border: 5px;
	border-style: solid;
	color: red;
}

.s3dugme1 {
	width: 15px;
	height: 15px;
	display: block;
	border-radius: 60px;
	-moz-border-radius: 60px;
	-webkit-border-radius: 60px;
	-khtml-border-radius: 60px;
	font-size: 20px;
	color: #33CC99;
	line-height: 20px;
	text-decoration: none;
	text-align: center;
	background: #33CC99;
	right: 45px;
	bottom: 65px;
	float: right;
	position: absolute;
}
.s3dugme1:hover {
	color: #CC0000;
	text-decoration: none;
	background: #333
}

.s3dugme2 {
	width: 15px;
	height: 15px;
	display: block;
	border-radius: 60px;
	-moz-border-radius: 60px;
	-webkit-border-radius: 60px;
	-khtml-border-radius: 60px;
	font-size: 20px;
	color: #33CC99;
	line-height: 20px;
	text-decoration: none;
	text-align: center;
	background: #33CC99;
	right: 26px;
	bottom: 65px;
	float: right;
	position: absolute;
}

.s3dugme2:hover {
	color: #CC0000;
	text-decoration: none;
	background: #333
}

.s3dugme3 {
	width: 15px;
	height: 15px;
	display: block;
	border-radius: 60px;
	-moz-border-radius: 60px;
	-webkit-border-radius: 60px;
	-khtml-border-radius: 60px;
	font-size: 20px;
	color: #CC0000;
	line-height: 20px;
	text-decoration: none;
	text-align: center;
	background: #CC0000;
	right: 7px;
	bottom: 65px;
	float: right;
	position: absolute;
}

.s3dugme3:hover {
	color: #CC0000;
	text-decoration: none;
	background: #333
}

.zaman {
	color: #FFCC00;
	background: #FFCC00;
}
.iliskiler {
	color: #333399;
	background: #333399;
}
.siyaset {
	color: #CC0000;
	background: #CC0000;
}
.mekanlar {
	color: #FF6633;
	background: #FF6633;
}
.karsilasmalar {
	color: #6699CC;
	background: #6699CC;
}
.egitim {
	color: #33CC99;
	background: #33CC99;
}
.ekonomi {
	color: #990066;
	background: #990066;
}
.oznellik {
	color: #009933;
	background: #009933;
}
