<ul>
    <li>
        <div class="zamantag">
            <img src="/assets/img/tags/ku/zaman-Dem.png" height="24px" /><!-- <img src="/assets/img/zamanbuton.png"/> -->
        </div>
    </li>
    <li>
        <div class="karsilasmalartag">
            <img src="/assets/img/tags/ku/rast.png" height="24px" />
        </div>
    </li>
    <li>
        <div class="ekonomitag">
            <img src="/assets/img/tags/ku/ekonomilerAbori.png" height="24px" />
        </div>
    </li>
    <li>
        <div onclick="location.href='/ku/tag/siyaset'" class="siyasettag">
            <img src="/assets/img/tags/ku/Siyaset.png" height="24px" />
        </div>
    </li>
    <li>
        <div class="egitimtag">
            <img src="/assets/img/tags/ku/Egitim-perwerde.png" height="24px" />
        </div>
    </li>
    <li>
        <div class="mekanlartag">
            <img src="/assets/img/tags/ku/mekan-cih.png" height="24px" />
        </div>
    </li>
    <li>
        <div class="iliskilertag">
            <img src="/assets/img/tags/ku/Iliskiler-Tekili.png" height="24px" />
        </div>
    </li>
    <li>
        <div class="oznelliktag">
            <img src="/assets/img/tags/ku/oznellik-kirdewari.png" height="24px" />
        </div>
    </li>
</ul>